<template>
  <div>
    <div v-swiper="swiperOption">
      <div
        id="tabs"
        class="flex overflow-hidden font-bold border swiper-wrapper max-w text-tertiary border-custom-gray-light rounded-2xl"
      >
        <div
          v-for="(tab, index) in tabs"
          :key="index"
          class="flex px-5 py-2 cursor-pointer place-content-center swiper-slide"
          :class="{
            'text-white bg-custom-green': tab.isActive,
          }"
          @click="selectTab(tab)"
        >
          <!-- Render original HTML in server, render Swiper in browser (client) -->
          <a :href="tab.href" class="tracking-widest">{{ tab.name }}</a>
        </div>
      </div>
    </div>
    <div class="tabs-details">
      <slot></slot>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

type TabsProps = {
  name: String
  isActive: Boolean
}

export default Vue.extend({
  data() {
    return {
      tabs: [] as Vue[],
      swiperOption: {
        slidesPerView: 1.2,
        centerInsufficientSlides: true,
        centeredSlides: true,
        slideToClickedSlide: true,
        freeMode: false,
        breakpoints: {
          320: {
            slidesPerView: 1.2,
          },
          400: {
            slidesPerView: 2.1,
          },
          480: {
            slidesPerView: 1.5,
          },
          640: {
            slidesPerView: 1.8,
          },
        },
      },
    }
  },

  mounted() {
    this.tabs = this.$children.filter((item: any) => item._name !== '<Swiper>')
  },
  methods: {
    selectTab(selectedTab: TabsProps) {
      this.tabs.forEach((tab: any) => {
        tab.isActive = tab.name === selectedTab.name
      })
    },
  },
})
</script>
<style>
#tabs {
  @apply w-fit-content;
}
</style>
