<template>
  <button class="w-full h-10 px-4 text-white rounded-xl bg-gradient-to-r from-custom-green-dark to-custom-blue">
    Kostenlos Registrieren
  </button>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({})
</script>
