<template>
  <button class="h-10 px-4 font-medium btn-container rounded-xl text-tertiary">Login</button>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({})
</script>
