<template>
  <div class="pt-5">
    <div class="px-10 pb-5 mx-10 text-center">
      <span class="text-2xl font-medium"
        >Drei einfache Schritte zu deinem neuen Mitarbeiter</span
      >
    </div>
    <!-- First Item -->
    <div class="relativ aspect-w-16 aspect-h-9">
      <div>
        <div
          class="absolute bg-gray-100 rounded-full w-52 h-52 -left-9 -bottom-9 opacity-30"
        />
        <img
          class="absolute top-0 w-6/12 xs:w-7/12 right-8"
          src="~assets/images/profile.png"
        />
        <div class="absolute bottom-0 flex items-end pb-1 left-6 sm:left-10">
          <span
            class="font-medium tracking-wide text-center text-custom-gray text-9xl"
            >1.</span
          >
          <span class="pl-4 tracking-wide text-left text-custom-gray"
            >Erstellen dein Unternehmensprofil</span
          >
        </div>
      </div>
    </div>
    <!-- Second Item -->
    <div>
      <div class="h-12">
        <svg
          viewBox="0 190.68 1440 309.32"
          xmlns="http://www.w3.org/2000/svg"
          class="transition duration-300 ease-in-out delay-150"
        >
          <path
            d="M 0,500 C 0,500 0,250 0,250 C 80.10714285714286,235.17857142857142 160.21428571428572,220.35714285714283 302,246 C 443.7857142857143,271.64285714285717 647.25,337.75 775,326 C 902.75,314.25 954.7857142857142,224.64285714285714 1053,199 C 1151.2142857142858,173.35714285714286 1295.607142857143,211.67857142857144 1440,250 C 1440,250 1440,500 1440,500 Z"
            stroke="none"
            stroke-width="0"
            fill="url(#gradient)"
            class="transition-all duration-300 ease-in-out delay-150"
          ></path>
        </svg>
      </div>
      <div class="relative bg-gradient-to-r from-primary to-secondary aspect-w-16 aspect-h-12">
        <div>
          <div class="absolute top-0 flex items-end pb-1 left-12 sm:left-16">
            <span
              class="font-medium tracking-wide text-center text-custom-gray text-9xl"
              >2.</span
            >
            <span class="pl-4 tracking-wide text-left text-custom-gray"
              >Erstellen ein Jobinserat</span
            >
          </div>
          <img
            class="absolute bottom-0 w-5/12 transform -translate-x-1/2 xs:w-7/12 sm:w-8/12 left-1/2"
            src="~assets/images/about_me.png"
          />
        </div>
      </div>
      <svg
        viewBox="0 0 1440 254"
        xmlns="http://www.w3.org/2000/svg"
        class="transition duration-300 ease-in-out delay-150"
      >
        <path
          d="M 0,400 C 0,400 0,200 0,200 C 79.46428571428572,172.82142857142856 158.92857142857144,145.64285714285714 298,146 C 437.07142857142856,146.35714285714286 635.7500000000001,174.25000000000003 763,205 C 890.2499999999999,235.74999999999997 946.0714285714287,269.3571428571429 1047,269 C 1147.9285714285713,268.6428571428571 1293.9642857142858,234.32142857142856 1440,200 C 1440,200 1440,400 1440,400 Z"
          stroke="none"
          stroke-width="0"
          fill="url(#section2-item2-bottom-gradient)"
          class="transition-all duration-300 ease-in-out delay-150"
          transform="rotate(-180 720 200)"
        ></path>
      </svg>
    </div>
    <!-- Third Item -->
    <div>
      <div class="relative aspect-w-16 aspect-h-12">
        <div
          class="absolute bg-gray-100 rounded-full w-96 h-96 -left-20 -top-20 opacity-30"
        />
        <div>
          <div class="absolute top-0 flex items-center left-16 sm:left-24">
            <span
              class="font-medium tracking-wide text-center text-custom-gray text-9xl"
              >3.</span
            >
            <span class="pl-4 tracking-wide text-left text-custom-gray"
              >Wähle deinen neuen Mitarbeiter aus</span
            >
          </div>
          <img
            class="absolute bottom-0 w-5/12 transform -translate-x-1/2 sm:-bottom-6 xs:w-6/12 sm:w-7/12 left-1/2"
            src="~assets/images/swipe_profile.png"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({})
</script>
