<template>
  <div class="bg-gray-50">
    <div class="w-full min-h-screen mx-auto my-0 bg-white max-w-mobile-limit">
      <section
        class="fixed z-50 bg-white shadow-custom-shadow top-navigation rounded-b-2xl w-inherit max-w-inherit"
      >
        <div class="h-1 bg-gradient-to-r from-tertiary to-custom-blue" />
        <div class="px-5 py-4">
          <MoleculesTopNavbar />
        </div>
      </section>
      <div class="pb-32">
        <Nuxt />
      </div>
      <section
        class="fixed bottom-0 z-50 bg-white shadow-custom-shadow bottom-navigation rounded-t-2xl w-inherit max-w-inherit"
      >
        <div class="px-5 py-6">
          <MoleculesBottomNavbar />
        </div>
      </section>
    </div>
  </div>
</template>
