<template>
  <div class="w-full">
    <!-- First Section -->
    <section class="first-section">
      <div class="pt-28 bg-gradient-to-r from-secondary to-primary">
        <div class="flex flex-col items-center">
          <span
            class="px-20 text-5xl font-medium tracking-wide text-center text-custom-black"
            >Deine Job website</span
          >
          <img class="pt-4" src="~assets/images/agreement.png" />
        </div>
      </div>
      <svg
        viewBox="0 0 1440 221.61"
        xmlns="http://www.w3.org/2000/svg"
        class="transition duration-300 ease-in-out delay-150"
      >
        <defs>
          <linearGradient id="gradient">
            <stop offset="5%" stop-color="#e6fffaff"></stop>
            <stop offset="95%" stop-color="#ebf4ffff"></stop>
          </linearGradient>
          <linearGradient id="section2-item2-bottom-gradient">
            <stop offset="5%" stop-color="#ebf4ffff"></stop>
            <stop offset="95%" stop-color="#e6fffaff"></stop>
          </linearGradient>
        </defs>
        <path
          d="M 0,400 C 0,400 0,200 0,200 C 108.57416267942583,207.93301435406698 217.14832535885165,215.866028708134 318,224 C 418.85167464114835,232.133971291866 511.98086124401914,240.46889952153109 587,240 C 662.0191387559809,239.53110047846891 718.9282296650719,230.2583732057416 813,216 C 907.0717703349281,201.7416267942584 1038.3062200956938,182.4976076555024 1149,179 C 1259.6937799043062,175.5023923444976 1349.846889952153,187.7511961722488 1440,200 C 1440,200 1440,400 1440,400 Z"
          stroke="none"
          stroke-width="0"
          fill="url(#gradient)"
          class="transition-all duration-300 ease-in-out delay-150"
          transform="rotate(-180 720 200)"
        ></path>
      </svg>
    </section>

    <!-- Second Section -->
    <section class="pt-4 pb-2 sm:pt-8">
      <div>
        <MoleculesTabs>
          <AtomsTab name="Arbeitnehmer" :selected="true">
            <MoleculesTabItemFirst />
          </AtomsTab>
          <AtomsTab name="Arbeitgeber">
            <MoleculesTabItemSecond />
          </AtomsTab>
          <AtomsTab name="Temporärbüro">
            <MoleculesTabItemThird />
          </AtomsTab>
        </MoleculesTabs>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({})
</script>
